<div class="main-menu-container">
  <a href="{{links.home}}">
    <div class="main-menu">
      <h3>Home</h3>
    </div>
  </a>
  <a href="{{links.about}}">
    <div class="main-menu">
      <h3>About</h3>
    </div>
  </a>
  <a href="{{links.askQuestions}}">
    <div class="main-menu">
      <h3>Ask a question</h3>
    </div>
  </a>
</div>

<div class="bottom-container questions">
  {{#each questions}}
    <a href="/viewAndVote/{{id}}">
      <div class="menu questions">
        <h3>{{question}}</h3>
      </div>
    </a>
  {{/each}}
</div>
