<div class="main-menu-container">
  <a href="{{home}}">
    <div class="main-menu">
      <h3>Home</h3>
    </div>
  </a>
  <a href="{{about}}">
    <div class="main-menu">
      <h3>About</h3>
    </div>
  </a>
  <a href="{{askQuestions}}">
    <div class="main-menu">
      <h3>Ask a question</h3>
    </div>
  </a>
</div>

<div class="bottom-container questions">
  {{#each questions}}
    <a href="{{viewAndVote}}">
      <div class="menu questions">
        <h3>{{question}}</h3>
      </div>
    </a>
  {{/each}}
  <!--
  <a href="{{viewAndVote}}">
    <div class="menu questions">
      <h3>question 1</h3>
    </div>
  </a>
  <a href="viewAndVote">
    <div class="menu questions">
      <h3>question 2</h3>
    </div>
  </a>
  <a href="viewAndVote">
    <div class="menu questions">
      <h3>question 3</h3>
    </div>
  </a>
  <a href="viewAndVote">
    <div class="menu questions">
      <h3>question 4</h3>
    </div>
  </a>
  <a href="viewAndVote">
    <div class="menu questions">
      <h3>question 5</h3>
    </div>
  </a>
  <a href="viewAndVote">
    <div class="menu questions">
      <h3>question 6</h3>
    </div>
  </a> -->
</div>
